<!--
 * @Author: 高腾
 * @Description: 
 * @Date: 2020-01-17 11:15:28
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>探究vue原码</title>
</head>
<body>
  <script>
    let ARRAY_METHOD = [
      'push',
      'pop',
      'shift',
      'unshift',
      'reverse',
      'sort',
      'splice',
    ]

    // 思路, 原型式继承: 修改原型链的结构
    let arr = []
    // 继承关系: arr -> Array.prototype -> Object.prototype -> ...
    // 继承关系: arr -> 改写的方法 -> Array.prototype -> Object.prototype -> ...

    let array_methods = Object.create( Array.prototype )

    ARRAY_METHOD.forEach( method => {
      array_methods[ method ] = function () {
        // 调用原来的方法
        console.log( '调用的是拦截的 ' + method + ' 方法' )
        // 将数据进行响应式化
        for( let i = 0; i < arguments.length; i++ ) {
          reactify( arguments[ i ] )
        }

        let res = Array.prototype[ method ].apply( this, arguments )
        // Array.prototype[ method ].call( this, ...arguments ); // 类比,...后面是真数组,而arguments是伪数组.伪数组是没有真数组的那些push()等方法的. 

        return res
      }
    } );

    arr.__proto__ = array_methods

    // Vue 的源码中也做了判断
    // 如果 浏览器支持 __proto__ 那么他就这么做
    // 如果不支持, vue 使用的是混入法 // 在文件:node_modules/vue/dist/vue.js中搜索__proto__,就会发现copyAugment()这个就是不能用__proto__时用的方法.

    // arr.length = 0 与 arr = [],前面改变原始的arr的数据,而后面只是改变arr的其中一个引用,其它的不会受到影响.

    var o = {
      name: 'jim',
      age: 19,
      gender: '男',
      course: [
        { name: '语文',jie:'20' },
        { name: '数学',jie:'20' },
        { name: '英语',jie:'20' },
      ],
      abc: {
        a:1,b:2
      },
      abcd:[1,2,3]
    } 
    // 除了递归还可以使用队列 ( 深度优先转换为广度优先 )

    // 简化后的版本
    function defineReactive( target, key, value, enumerable ) {
      // 函数内部就是一个局部作用域, 这个 value 就只在函数内使用的变量 ( 闭包 )

      console.warn('响应化的对象', target,'属性',key,'值',value)
      Object.defineProperty( target, key, {
        configurable: true,
        enumerable: !!enumerable,

        get () {
          console.log( `读取 o 的 ${key} 属性` ) // 额外
          return value
        },
        set ( newVal ) {
          console.log( `设置 o 的 ${key} 属性为: ${newVal}` ) // 额外
          value = newVal
        }
      })
    }

    // 将对象 o 响应式化
    function reactify(o){

      let keys = Object.keys( o )
      for ( let i = 0; i < keys.length; i++ ) { // data是否有属性
        let key = keys[i]
        let value = o[key]
        if (Array.isArray(value)){ // 数组 ----------------------> []
          console.info('数组的引用类型', value)
          value.__proto__ = array_methods // 要把数组的方法重写一下,就是如,添加的时候,把新添加的对象加上get()/set()方法
          for(let j=0;j<value.length;j++){
            reactify(value[j])
          }
        } else { // 对象或值类型 ---------------------------------> {}
          console.info('对象或值类型', value)
          if(typeof value === 'object' && value !== null && !Array.isArray(value)){ // abc 就符合这个条件,如果是对象就循环其属性,如果是数组,就循环每个元素.
            // 是非数组的引用类型
            console.info('是非数组的引用类型', value)
            reactify(value) // 递归
          } else { // -------------------------------------------> a:1/1
            defineReactive(o,key,value,true)
          }
        }
      }
    }

    reactify(o)
    console.info('响应式化的data', o)
    // abcd:[1,2,3] 这个还不能实现响应,或许就不用实现吧

    
  </script>
</body>
</html>